
@font-face {
  font-family: 'PFAgoraSlabPro-Bold';
  src: url('PFAgoraSlabPro-Bold.eot?#iefix') format('embedded-opentype'),  url('PFAgoraSlabPro-Bold.woff') format('woff'), url('PFAgoraSlabPro-Bold.ttf')  format('truetype'), url('PFAgoraSlabPro-Bold.svg#PFAgoraSlabPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
