@font-face {
    font-family: 'maiandra_gdregular';
    src: url('../fonts/maiandra_gdregular/maiandra_gd_regular-webfont.eot');
    src: url('../fonts/maiandra_gdregular/maiandra_gd_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maiandra_gdregular/maiandra_gd_regular-webfont.woff2') format('woff2'),
         url('../fonts/maiandra_gdregular/maiandra_gd_regular-webfont.woff') format('woff'),
         url('../fonts/maiandra_gdregular/maiandra_gd_regular-webfont.ttf') format('truetype'),
         url('../fonts/maiandra_gdregular/maiandra_gd_regular-webfont.svg#maiandra_gdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}